.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 64px 0;
}

.profile {
  border-radius: 50%;
  border: 2px solid #2f9085;
  gap: 8px;
}

.description {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 8px;
}

.name {
  font-weight: 800;
  font-size: 48px;
  color: #2f9085;
  line-height: 1;
  letter-spacing: -0.5px;
  @media (min-width: 800px) {
    font-size: 64px;
  }
}

.title {
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  margin: 0px;
  @media (min-width: 800px) {
    font-size: 42px;
  }
}

.social {
  display: flex;
  justify-content: space-evenly;
  gap: 46px;

  a svg {
    stroke: gray;
  }

  a svg:hover {
    stroke: white;
  }
}
