@import "../../styles/colors.constants";

.blog-container {
  width: 100vw;
  height: 100vh;
  background-color: $main-gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-message {
  color: $main-white;
  padding: 0px 16px;
  text-align: center;
}
