@import "../../styles/colors.constants";

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;

  @media (max-width: 560px) {
    flex-direction: column;
  }
}

.description {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  gap: 16px;

  @media (max-width: 560px) {
    text-align: center;
  }
}

.photo {
  border-radius: 50px;
}

.title {
  font-weight: 700;
  font-size: 48px;
  color: $light-blue;
  word-wrap: break-word;
  line-height: 1;
}

.subtitle {
  font-size: 18px;
  line-height: 1;
  padding: 16px 0px;
  margin: 0px;
  text-justify: inter-character;

  @media (max-width: 560px) {
    padding: 16px 16px;
  }
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4vw;
}

.icon {
  font-size: 30px;
  color: #424549;
}

.icon:hover {
  color: $main-white;
}

.contact-card {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contact {
  display: flex;
  justify-content: center;
  gap: 32px;
}
