---
import { Image } from 'astro:assets'
import styles from './Company.module.scss'

interface Props {
  name: string
  logo: any
  time: string
  url: string
}

const { name, logo, time, url } = Astro.props
---

<span class={styles.company}>
  <Image src={logo} alt={name} height={32} />
</span>
