@import "../../styles/colors.constants";

.company {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  flex: 0 0 calc(16.66% - 18px);
  padding: 12px 12px;

  cursor: pointer;
}

.time {
  padding-top: 16px;
  font-size: 20px;
  font-weight: 500;
}
