.project {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  border: 2px solid gray;
  border-radius: 12px;
  overflow: hidden;
}

.title {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 28px;
  font-weight: 700;
  width: fit-content;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
}

.image {
  height: auto;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.stack {
  display: flex;
  gap: 16px;
}

.link {
  padding: 16px;
  background-color: gray;
}
