.project {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 560px;
  border-radius: 12px;
  overflow: hidden;
  background-color: #fcd926;
  color: black;
  cursor: pointer;
}

.title {
  font-size: 16px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
}

.description {
  font-size: 34px;
  font-weight: 700;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.image {
  height: auto;
  width: 100%;
  aspect-ratio: 1.8;
}

.stack {
  display: flex;
  gap: 16px;
}

.link {
  padding: 16px;
  background-color: gray;
}
