.project {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 560px;
  border-radius: 12px;
  overflow: hidden;
  color: black;
  cursor: pointer;
  transition: transform 0.15s ease-in-out;
}

.project:hover {
  transform: scale(1.05);
}

.title {
  font-size: 18px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 8px;
}

.title.isTextLight {
  color: rgba(255, 255, 255, 0.6);
}

.description {
  font-size: 34px;
  font-weight: 700;
}

.description.isTextLight {
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.image {
  width: 100%;
  height: auto;
}

.stack {
  display: flex;
  gap: 16px;
}

.link {
  padding: 16px;
  background-color: gray;
}
