$main-gray: #1e2124;

$main-white: #f0f0f0;
$main-black: #0a0a0a;

$light-gray: #5b636b;
$light-blue: #1590e5;
$main-blue: #2e60cc;

$a-green: #48dbca;
$b-green: #66a29b;
$c-green: #2f9085;
$d-green: #8adbd2;
$e-green: #1e5c55;

$c-purple: #8f3d8a;

$main-color: #111111;

$a-dark: #090909;
$b-dark: #111111;
$c-dark: #2a2a2a;
$d-dark: #3c3c3c;
$e-dark: #747474;
$f-dark: #7c7c7c;
$g-dark: #d0d0d0;
