$main-gray: #1e2124;

$main-white: #f0f0f0;
$main-black: #0a0a0a;

$light-gray: #5b636b;
$light-blue: #1590e5;
$main-blue: #2e60cc;

$a-green: #48dbca;
$b-green: #66a29b;
$c-green: #2f9085;
$d-green: #8adbd2;
$e-green: #1e5c55;

$main-color: #2f9085;
