@import "colors.constants";

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $main-color;
  color: $main-white;
  margin: 0px;
}

p {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:-webkit-any-link {
  text-decoration: none;
  color: none;
}
