@import "../../styles/colors.constants";

.section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $main-white;
  width: 100%;
}

.section-content {
  padding: 24px 48px;

  @media (max-width: 560px) {
    padding: 24px 16px;
  }

  p {
    text-align: justify;
    text-justify: inter-word;
  }
}
