@import "../../styles/colors.constants";

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $b-dark;
  padding: 24px 56px;

  @media (max-width: 560px) {
    padding: 24px 16px;
  }
}

.section-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
