@import "../../styles/colors.constants";

.skills {
  padding: 48px;

  @media (max-width: 560px) {
    padding: 16px;
  }
}

.skills-title {
  text-align: center;
}

.techstack {
  display: flex;
  justify-content: space-evenly;
  gap: 16px;
  padding-top: 16px;
}

.techstack-skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.skill-name {
  @media (max-width: 375px) {
    font-size: 14px;
  }

  @media (max-width: 320px) {
    font-size: 12px;
  }
}

.sections-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;

  @media (max-width: 800px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.section-container {
  flex: 1;
  background-color: $e-green;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: 16px;
}

.section-title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  border-bottom: 1px solid $main-white;
  padding-bottom: 8px;
}
