@import "../../styles/colors.constants";

.about {
  text-align: center;
  width: 100%;
}

.techstack {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.sections-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  @media (max-width: 560px) {
    flex-direction: column;
  }
}

.section-container {
  flex: 1;
  background-color: $e-green;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: 16px;
}

.section-title {
  text-align: left;
  font-size: 24px;
  font-weight: 700;
  color: $d-green;
}
