@import "../../styles/colors.constants";

.about {
  text-align: center;
  width: 100%;
}

.techstack {
  display: flex;
  justify-content: center;
  gap: 12px;
  padding: 12px 0px;
}

.section-title {
  text-align: left;
}
