@import "../../styles/colors.constants";

.about-container {
  display: flex;
  background-color: $main-gray;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 24px 16px;
  color: $main-white;
}

.about {
  max-width: 700px;
  width: 100%;
}

.about-title {
  padding-bottom: 16px;
}

.techstack {
  display: flex;
  justify-content: center;
  gap: 12px;
  padding: 12px 0px;
}

.subtitle {
  text-align: justify;
  text-justify: inter-word;
}

.section-title {
  text-align: left;
}
