.header {
  background-color: #090909;
  color: white;
  padding: 16px 56px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;

  @media (max-width: 560px) {
    padding: 12px;
  }
}

.company {
  font-size: 24px;
  font-weight: 800;
}

.sign {
  color: #2f9085;
}
