@import "../../styles/colors.constants";

.navbar {
  background-color: $a-dark;
  color: $main-white;
  padding: 16px 56px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;

  @media (max-width: 560px) {
    padding: 12px;
  }
}

.company {
  font-size: 24px;
  font-weight: 800;
}

.sign {
  color: $c-green;
}

.menu {
  display: flex;
  gap: 16px;
  font-size: 18px;
  font-weight: 700;

  @media (max-width: 560px) {
    display: none;
  }
}

.menu-icon {
  display: none;
  cursor: pointer;

  @media (max-width: 560px) {
    display: flex;
  }
}

.link {
  text-decoration: none !important;

  &:hover {
    color: $c-purple;
  }
}

.dropdown-menu {
  width: 100vw;
  background-color: $a-dark;
  position: absolute;
  border-top: 1px solid $main-black;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.3);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  height: calc(100dvh - 56px);

  a {
    color: $main-white;
  }

  @media (max-width: 560px) {
    display: flex;
    gap: 16px;
  }
}

.dropdown-menu-link {
  color: white;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  width: fit-content;

  &:hover {
    color: $c-purple;
  }
}
