---
import { Image } from 'astro:assets'

interface Props {
  name: string
  logo: any
  time: string
  url: string
}

const { name, logo } = Astro.props
---

<span class='company'>
  <Image src={logo} alt={name} height={32} />
</span>

<style>
  .company {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 calc(16.66% - 18px);
    padding: 16px;
  }
</style>
