---
import { Image } from 'astro:assets'

interface Props {
  name: string
  logo: any
}

const { name, logo } = Astro.props
---

<li>
  <Image src={logo} alt={name} height={32} />
</li>

<style>
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 calc(16.66% - 18px);
    padding: 16px;
  }
</style>
