---
import gametime from '../icons/gametime.svg'
import ieebc from '../icons/ieebc.svg'
import timbox from '../icons/timbox.svg'
import srax from '../icons/srax.svg'
import iconos from '../icons/iconos.png'

import Company from './Company.astro'

const EXPERIENCE = [
  {
    name: 'gametime',
    logo: gametime
  },
  {
    name: 'ieebc',
    logo: ieebc
  },
  {
    name: 'timbox',
    logo: timbox
  },
  {
    name: 'srax',
    logo: srax
  },
  {
    name: 'iconos',
    logo: iconos
  }
]
---

<section class='experience' id='experience'>
  <div class='responsive-content'>
    <h1>Work Experience</h1>
    <nav class='companies'>
      {
        EXPERIENCE.map((company) => {
          return <Company {...company} />
        })
      }
    </nav>
  </div>
</section>

<style>
  .experience {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 64px 0;
  }

  .experience h1 {
    color: white;
  }

  .responsive-content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .companies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    padding-top: 16px;
    width: 100%;
  }
</style>
