<header>
  <section class='responsive-content'>
    <a href='/' class='company'>
      zvl<span class='sign'>.</span>dev
    </a>
    <nav>
      <ul>
        <li><a href='/#projects'>Projects</a></li>
        <li><a href='/#skills'>Skills</a></li>
        <li><a href='/#experience'>Experience</a></li>
      </ul>
    </nav>
  </section>
</header>

<style>
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
    min-height: 80px;
    background-color: rgba(255, 255, 255, 0.07);
    backdrop-filter: saturate(180%) blur(20px);
    color: white;
  }
  .responsive-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  @media (max-width: 640px) {
    nav {
      display: none;
    }
  }

  .company {
    cursor: pointer;
    font-size: 24px;
    font-weight: 800;
  }
  .sign {
    color: #2f9085;
  }
  nav {
    color: rgba(255, 255, 255, 0.6);
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    font-size: 20px;
  }

  ul li a {
    cursor: pointer;
  }

  ul li a:hover {
    color: white;
  }
</style>
