---
import { Picture } from 'astro:assets'
import profileImage from '../images/profile.webp'
import MailIcon from '../icons/MailIcon.astro'
import LinkedInIcon from '../icons/LinkedInIcon.astro'
import GithubIcon from '../icons/GithubIcon.astro'
---

<section class='hero'>
  <section class='responsive-content'>
    <section class='description'>
      <p>
        Hey, I'm Jesús <span style={{ color: 'white' }}>👋</span>
      </p>
      <h1>Fullstack Software Engineer</h1>
      <p>
        +12 years being completely dedicated and passionate about crafting solid
        and scalable web products with amazing user interfaces.
      </p>
      <nav>
        <a href='mailto: jesus@zvl.dev' aria-label='Send me an email'>
          <MailIcon width={24} height={24} />
           Send a message
        </a>
      </nav>
    </section>
    <Picture
      src={profileImage}
      alt='Profile Image'
      width={320}
      height={320}
      class='profile'
      loading='eager'
    />
  </section>
</section>

<style>
  .hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    padding: 48px 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .responsive-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    gap: 32px;
  }

  .description {
    display: flex;
    flex-direction: column;
    max-width: 640px;
    min-width: 220px;
  }

  h1 {
    color: #2f9085;
    margin-bottom: 16px;
  }

  p {
    margin-bottom: 24px;
  }

  .profile {
    border-radius: 12px;
    gap: 8px;
  }

  nav {
    display: flex;
    gap: 46px;
  }

  a {
    background-color: #2f9085;
    padding: 12px 24px;
    border-radius: 12px;
    font-size: 18px;
    color: black;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 8px;

    &:hover {
      filter: drop-shadow(0 0 4px #2f9085);
      color: white;

      svg {
        stroke: white;
      }
    }

    &:active {
      background-color: #256a62;
      color: white;
    }
  }

  @media (max-width: 640px) {
    .responsive-content {
      flex-direction: column;
      justify-content: center;
    }

    .description {
      text-align: center;
    }

    nav {
      justify-content: center;
    }
  }
</style>
