---
import HTMLIcon from '../icons/HTMLIcon.astro'
import JavascriptIcon from '../icons/JavascriptIcon.astro'
import TypescriptIcon from '../icons/TypescriptIcon.astro'
import NodeIcon from '../icons/NodeIcon.astro'
import PythonIcon from '../icons/PythonIcon.astro'
import RubyIcon from '../icons/RubyIcon.astro'
import PHPIcon from '../icons/PHPIcon.astro'
import JavaIcon from '../icons/JavaIcon.astro'
import CSSIcon from '../icons/CSSIcon.astro'
import ReactIcon from '../icons/ReactIcon.astro'
import NextIcon from '../icons/NextIcon.astro'
import AstroIcon from '../icons/AstroIcon.astro'
import ExpressIcon from '../icons/ExpressIcon.astro'
import MongoIcon from '../icons/MongoIcon.astro'
import SupabaseIcon from '../icons/SupabaseIcon.astro'
import DjangoIcon from '../icons/DjangoIcon.astro'
import RailsIcon from '../icons/RailsIcon.astro'
---

<div class='tabbed'>
  <input type='radio' id='languages' name='css-tabs' checked />
  <input type='radio' id='frontend' name='css-tabs' />
  <input type='radio' id='backend' name='css-tabs' />

  <ul class='tabs'>
    <li class='tab'><label for='languages'>Languages</label></li>
    <li class='tab'><label for='frontend'>Frontend</label></li>
    <li class='tab'><label for='backend'>Backend</label></li>
  </ul>

  <div class='tab-content'>
    <ul class='skillset'>
      <li class='skill'>
        <JavascriptIcon />
        <span>JavaScript</span>
      </li>
      <li class='skill'>
        <TypescriptIcon />
        <span>TypeScript</span>
      </li>
      <li class='skill'>
        <PythonIcon />
        <span>Python</span>
      </li>
      <li class='skill'>
        <RubyIcon />
        <span>Ruby</span>
      </li>
      <li class='skill'>
        <PHPIcon />
        <span>PHP</span>
      </li>
      <li class='skill'>
        <JavaIcon />
        <span>Java</span>
      </li>
    </ul>
  </div>

  <div class='tab-content'>
    <ul class='skillset'>
      <li class='skill'>
        <HTMLIcon />
        <span>HTML</span>
      </li>
      <li class='skill'>
        <CSSIcon />
        <span>CSS</span>
      </li>
      <li class='skill'>
        <ReactIcon />
        <span>React</span>
      </li>
      <li class='skill'>
        <NextIcon />
        <span>Next</span>
      </li>
      <li class='skill'>
        <AstroIcon />
        <span>Astro</span>
      </li>
    </ul>
  </div>

  <div class='tab-content'>
    <ul class='skillset'>
      <li class='skill'>
        <NodeIcon />
        <span>Node</span>
      </li>
      <li class='skill'>
        <ExpressIcon />
        <span>Express</span>
      </li>
      <li class='skill'>
        <MongoIcon />
        <span>Mongo</span>
      </li>
      <li class='skill'>
        <SupabaseIcon />
        <span>Supabase</span>
      </li>
      <li class='skill'>
        <DjangoIcon />
        <span>Django</span>
      </li>
      <li class='skill'>
        <RailsIcon />
        <span>Rails</span>
      </li>
    </ul>
  </div>
</div>

<style>
  .tabbed {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding-bottom: 16px;
  }

  .tabbed [type='radio'] {
    display: none;
  }

  .tabs {
    display: flex;
    list-style: none;
    border-radius: 12px;
    padding: 4px;
    background-color: rgba(255, 255, 255, 0.11);
    width: fit-content;
    gap: 4px;
  }

  .tab > label {
    display: block;
    margin-bottom: -1px;
    padding: 12px 24px;
    background-color: transparent;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.4s;
    width: 120px;
    font-weight: 700;
    font-size: 18px;
    padding: 12px 24px;
    border-radius: 12px;

    @media (max-width: 640px) {
      width: 80px;
      font-size: 14px;
      padding: 6px 12px;
    }
  }
  .tab:hover label {
    color: white;
  }

  .tab-content {
    display: none;
    color: #777;
  }

  /* As we cannot replace the numbers with variables or calls to element properties, the number of this selector parts is our tab count limit */
  .tabbed
    [type='radio']:nth-of-type(1):checked
    ~ .tabs
    .tab:nth-of-type(1)
    label,
  .tabbed
    [type='radio']:nth-of-type(2):checked
    ~ .tabs
    .tab:nth-of-type(2)
    label,
  .tabbed
    [type='radio']:nth-of-type(3):checked
    ~ .tabs
    .tab:nth-of-type(3)
    label,
  .tabbed
    [type='radio']:nth-of-type(4):checked
    ~ .tabs
    .tab:nth-of-type(4)
    label,
  .tabbed
    [type='radio']:nth-of-type(5):checked
    ~ .tabs
    .tab:nth-of-type(5)
    label {
    background-color: #2f9085;
    color: black;
  }

  .tabbed [type='radio']:nth-of-type(1):checked ~ .tab-content:nth-of-type(1),
  .tabbed [type='radio']:nth-of-type(2):checked ~ .tab-content:nth-of-type(2),
  .tabbed [type='radio']:nth-of-type(3):checked ~ .tab-content:nth-of-type(3),
  .tabbed [type='radio']:nth-of-type(4):checked ~ .tab-content:nth-of-type(4) {
    display: block;
  }

  .skillset {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }

  .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    background-color: rgba(255, 255, 255, 0.11);
    box-shadow:
      0 2px 6px 0 rgba(0, 0, 0, 0.05),
      0 0 3px 0 rgba(0, 0, 0, 0.1);

    color: rgba(255, 255, 255, 0.87);
    font-weight: 700;
    border-radius: 12px;
    gap: 12px;
  }
</style>
