---
import SkillSelector from './SkillSelector/SkillSelector'
---

<section class='skillset' id='skills'>
  <section class='responsive-content'>
    <h2>Skills</h2>
    <p>I know a thing or two in the following areas.</p>
    <SkillSelector client:idle />
  </section>
</section>

<style>
  .skillset {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 64px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .responsive-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  h2 {
    color: white;
    margin-bottom: 32px;
  }

  p {
    font-size: 24px;
    margin-bottom: 42px;
  }
</style>
