.experience {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 64px 0;
}

.experience h1 {
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (min-width: 640px) {
  .content {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .content {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .content {
    max-width: 1024px;
  }
}

@media (min-width: 1172px) {
  .content {
    max-width: 1172px;
  }
}

.companies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  padding-top: 16px;
  width: 100%;
}
