@import "../../styles/colors.constants";

.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  padding: 48px;

  @media (max-width: 560px) {
    padding: 16px;
  }
}

.experience-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
  padding-top: 16px;
  width: 100%;
}

.subtitle {
  text-align: justify;
  text-justify: inter-word;
}
