@import "../../styles/colors.constants";

.experience {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $c-green;
}

.experience-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
  padding-top: 16px;
  width: 100%;
}

.subtitle {
  text-align: justify;
  text-justify: inter-word;
}
