---
import '@fontsource-variable/outfit'
import Header from '../components/Header/Header.astro'

import PostHog from '../components/Posthog/Posthog.astro'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='description'
      content=`Looking for a top notch web engineer? After visiting zvl.dev and seeing my work, you'll know you've found the right person. My name is Jesús Zavala and I'm sure my 12+ years of experience will be a great asset to your project`
    />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/icon' href='/favicon.ico' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <PostHog />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <style is:global>
      html,
      body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        background-color: #111111;
        color: white;
        font-family: 'Outfit Variable', sans-serif;
      }
      a {
        all: unset;
      }

      h1 {
        font-size: 36px;
      }
    </style>
  </body>
</html>
